.cuisines-heading{
padding: 13px;
    padding-left: 10px;
    background-color: $blueRegular;
    color:white;
    margin: 0px;
}
.cuisine-list {
       // display: flex;
        //flex-direction: column;
        
        //height: 300px;
        margin: 0;
        padding: 0 5px;
        background-color: #e9e9e9;
        
        li {
            list-style: none;
            line-height: 2 ;
        }

        a {
            text-decoration: none;
            color: black;
            margin: 10px 0;   
        }

        //
            display: flex;
            flex-wrap: wrap;
            li{
                
                &:nth-child(odd){
                    width: 160px;
                }
                &:nth-child(even){
                    width: calc(100% - 160px);
                }
            }    
        //}

        
           

    @include mq($tabletSmall)
        {
        li{
            list-style: none;
            line-height: 2 ;
           // &:nth-child(odd){
            //    width: 170px;
            //}
            &:nth-child(1n){
                width: 160px;
            }
            &:nth-child(3n){
                width: calc(100% - 320px); 
            }
        }    
    }

    @include mq($desktop)
        {
        display: block;
        li {
            &:nth-child(1n){
                width: auto;
            }
        }
    }
}