footer {
    color: white;
    justify-content: center;
    background-color: rgb(5, 92, 149);
    text-align: center;
    border-top: solid 1px #ccc;
    width: 100%;
    font-family: "PT Serif", serif;
    font-size: 12px;
  }

  