footer {

    @include mc(false);
    max-width: 1200px;
}


.footer {
    font-size: 14px;
    padding: 10px;
    margin: 10px 10px 10px 0;
    background-color: rgb(5, 92, 149);
    color: white;
    text-align: center;
    width: 100%;
    box-sizing: border-box;

}

@include mq($tabletSmall){
    .footer{
        font-size: 12px;
        p{
            margin: 0;
        }

@include mq($tabletLarge){
    .footer{
        font-size: 12px;
        p{
            margin: 0;
        }

@include mq($desktop){
    .footer{
        font-size: 12px;
        p{
            margin: 0;

        }
@include mq($desktopLarge){
    .footer{
        font-size: 12px;
        p{
            margin: 0;
        }
    }
}
}
}
}
}
}
}
