header{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 6px;


    a{
        text-decoration: none;
    }
    li{
        list-style-type: none;
    }

    a:hover, a:active, a:visited
    {
        color: $blueRegular;
    }
}

#top{
    display: flex;
    justify-content: space-between;
}

.search-bar-tablet
{
    display: none;
}

.social-links-desktop
{
    display: none;
}

@include mq($tabletSmall)
{

    .search-bar-tablet
    {


      padding: 5px;
      background-color: lightgray;
        display: flex;
        border: solid 3px rgb(177, 172, 172);
        border-radius: 5px;
       margin: 10px;
        input[type=text] 
        {
            
            max-width: 120px;
              background-color: lightgray;
              border: none;
               outline: none;
        }
    
        img{
        
            background-color: lightgray;
            border: none;
        
            
        }
    }

}

@include mq($tabletLarge)
{
    .social-links-desktop{
        order: 1;
        display: block;
        ul{
        display: flex;
        color: $blueRegular;
        li{
         
            margin-left: 10px;
          }
        }
    }
}

@include mq($desktop)
{
.header-top-row{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
}

.social-links-desktop{
    display: block;
    ul{
    display: flex;
    color: $blueRegular;
    li{
        flex:1;
        margin-left: 10px;
       
      }
    }
}

.search-bar-tablet{
    display: none;
}


}

// Search Bar
input{
    background-image: url("../images/search.png");
    background-position: center right 10px;
     background-repeat: no-repeat;
}