.post-heading{
    color:#1a71a9;
    font-size: 1.8em;
    padding: 10px;
    padding-bottom: 0px;
    margin: 0px;
}
.post-content{
            font-size: 0.8em;
            padding: 10px;
            padding-top: 0px;
            p{
                margin-bottom: 20px;
            }
        }
.btn-read-more{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    padding-left: 180px;
}
.btn-text{
    background-color: #1a71a9;
    display: block;
    padding: 8px;
    }

