.recipes{
    padding:0 10px 0 10px;

    .recipes-heading{
        background-color: $blueRegular;
        padding: 8px;
        color: white;
        width: 100%;
        margin: auto;
    }
    .recipe-list{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .recipe-list-item{
        display: flex;
        align-items: center;
        background-color: #f9f9f9;
        padding: 8px;
    }
    .recipe-list-item1{
        display: flex;
        align-items: center;
        background-color: #e9e9e9;
        padding: 8px;
    }
    figure{
        margin: 0;
        margin-right: 8px;
        flex: 0 0 70px;
    }
    img{
        border-left: $blueRegular solid 2px;
        border-top: $blueRegular solid 2px;
        border-right: $blueRegular solid 1px;
        border-bottom: $blueRegular solid 1px;   
    }
    p{
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 300;
    }

}
    
@media (min-width: $desktop){
    .recipes{
        padding-top: 10px;
        padding-right: 0px;
    }
}
 

/*.section-heading {
    padding: 13px;
    padding-left: 10px;
    background-color: $blueRegular;
    color:white;
    margin: 0px;
    }
        .recipes{
            ul{padding: 0px;
                margin: 0px;

            li{
        display: flex;
        background-color: #e9e9e9;
        
        padding: 10px;
        }
      
        li:first-child{
            background-color: #f9f9f9;
        }
        li:nth-last-child(even){
            background-color: #f9f9f9;
        }
        img{
            align-self: flex-start;
        }
    }}
        .recipe-list-item img{
            border-left: $blueRegular solid 2px;
            border-top: $blueRegular solid 2px;
            border-right: $blueRegular solid 1px;
            border-bottom: $blueRegular solid 1px;   
        }
            .recipe-list li figure{
                margin: 0px;
            }
            .recipe-list li p{
                margin-left: 13px;
                margin-top: 27px;
            }*/
        
        